.col-3A {
  padding: 0 !important;
  margin-bottom: 0% !important;
}
.my-p {
  height: 15rem;
  overflow: hidden;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #ce1212;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 26px;
  color: #ce1212;
  outline: none;
  transition: 0.5s;
}
.box:hover input {
  width: 350px;
  border-radius: 10px;
}
i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #ce1212;
  transition: 0.2s;
}
.box:hover i {
  opacity: 0;
  z-index: -1;
}

.wrapperA {
  height: 300px;
  width: 620px;
  margin: 50px;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */

  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  border-radius: 7%;
}

.product-imgA {
  float: left;
  height: 100%;
  width: 50%;
}

.product-imgA img {
  object-fit: cover;
  border-radius: 7px 0 0 7px;
  width: 100%;
  height: 100%;
}

.product-infoA {
  position: relative;
  height: 100%;
  width: 50%;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
  float: right;
}

.product-textA {
  position: absolute;
  margin: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.product-textA h1 {
  font-size: 1.5rem;
  text-align: justify;
  color: #474747;
  width: 100%;
  height: 50%;
  max-height: 55px;
  overflow: hidden;
  margin: 1% 10%;
  width: 100%;
  /* padding-left: 20px; */
}

.product-price-btnA p {
  font-family: "Bentham", serif;
}

.product-textA p {
  margin: 1% 10%;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
  text-align: justify;
  width: 60%;
  height: 124px;
  padding-left: 30px;
}

.product-price-btnA Button {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  float: left;
  display: inline-block;
  margin: 70px 0px 0px 210px;
  background-color: #ededed !important;
  transform: translate(-50%, -50%);
  color: #810000 !important;
  text-decoration: none;
  font-size: 2em;
  display: inline-block;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 0 3rem;
  height: 1.8em;
  border: 2px solid #810000 !important;
  transition: 0.02s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.product-price-btnA Button::before {
  background-color: #ededed;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background:  #0274b6 !important;
  color: #0274b6 !important;
  transition: 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1),
    left 0.3s cubic-bezier(0.1, 0, 0.1, 1);

  z-index: -1;
}
.product-price-btnA Button::after {
  content: "";
  display: inline-block;
  background-image: url("../../Assets/white-arrow-png-41947.png");
  position: absolute;
  top: 0;
  left: calc(100% - 3em);
  transform: scale(0.8);
  right: 3em;
  bottom: 0;
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  transition: right 0.3s cubic-bezier(0.1, 0, 0.1, 1);
}
.product-price-btnA Button:hover {
  background-color: #ededed;
  padding: 0.05em 3.5em 0.08em 0.5em;
  height: 1.8em;
  color: #0274b6 !important;
  border: 2px solid #0274b6 !important;
}
.product-price-btnA Button:hover::before {
  left: calc(100% - 3em);
  right: 0;
  transition: 0.3s cubic-bezier(0.1, 0, 0.1, 1),
    left 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
.product-price-btnA Button:hover::after {
  right: 0;
  transition: right 0.3s 0.2s cubic-bezier(0.1, 0, 0.1, 1);
}
